name: Deploy Dev to Website

on:
  push:
    branches: [main]
    paths:
      - 'jsA8E/**'
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry Run (simulate upload)'
        type: boolean
        default: false

jobs:
  web-deploy-dev:
    name: Deploy Dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: FTP Deploy
        run: |
          DRY_RUN="${{ inputs.dry-run || false }}"
          LFTP_CMD="
            set ftp:ssl-allow no;
            open -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} -p 23 ${{ secrets.FTP_SERVER }};
            mirror --reverse --delete --verbose \
              --exclude node_modules/ \
              --exclude eslint.config.cjs \
              --exclude package.json \
              --exclude package-lock.json \
              $([ \"$DRY_RUN\" = 'true' ] && echo '--dry-run') \
              ./jsA8E/ /web/anides.de/jsA8E.dev/;
          "
          lftp -c "$LFTP_CMD"
